# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\elevate\java-practice-workspace\algo-practice-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
